In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import pyperclip
import os
import time
import shutil
import pyautogui
#from selenium import webdriver
import random
#from selenium.webdriver.common.keys import Keys
from collections import OrderedDict
import re
import sys
import docx
import webbrowser

In [29]:
path = 'L:/1全部文件/Learn/StockTwits/'

In [30]:
time.sleep(1)
a_website = "https://stocktwits.com/"
webbrowser.open_new(a_website)

True

In [46]:
df = pd.read_excel(path + 'stocktwits.xlsx',sheet_name=0)
df.head()

,a,b,c,d,e,word
0,$AAPL,$AMZN,$GOOGL,$NFLX,$FB,It will enter the health and technology space ...
1,$FB,$SNAP,$TWTR,$MTCH,NaN,This management change generally comes with mo...
2,$AMD,$NVDA,$INTC,NaN,NaN,This is HUGE news for next week. We will see t...
3,$MU,$WDC,$SMH,NaN,NaN,"Downtrend since last month, market is pumped"
4,$BABA,$JD,$VIPS,$PDD,$QD,Expected to fill the gap soon

In [47]:
df['combine'] = ' ' + df['a'].fillna('') + ' ' + df['b'] + ' ' + df['c'].fillna('') + ' ' + df['d'].fillna('') + ' ' + df['e'].fillna('')
df.head()

,a,b,c,d,e,word,combine
0,$AAPL,$AMZN,$GOOGL,$NFLX,$FB,It will enter the health and technology space ...,$AAPL $AMZN $GOOGL $NFLX $FB
1,$FB,$SNAP,$TWTR,$MTCH,NaN,This management change generally comes with mo...,$FB $SNAP $TWTR $MTCH
2,$AMD,$NVDA,$INTC,NaN,NaN,This is HUGE news for next week. We will see t...,$AMD $NVDA $INTC
3,$MU,$WDC,$SMH,NaN,NaN,"Downtrend since last month, market is pumped",$MU $WDC $SMH
4,$BABA,$JD,$VIPS,$PDD,$QD,Expected to fill the gap soon,$BABA $JD $VIPS $PDD $QD

In [48]:
df['temp'] = ' '.join(df[['combine','word']].apply(np.random.choice).values)#randomly select two rows from two columns and combine with space
df.head()

TypeError: sequence item 1: expected str instance, float found

In [42]:
df3 = pd.DataFrame(df['temp'].str.split('$').values.tolist())#split 1 column into multiple columns
df4 = df3.iloc[:, 1:] # remove blank column
df5 = df4.sample(n= len(df4.columns), axis =1) # randomly select columns
df5 =  '$' + df5
k = df5.head(1).to_string(header=False,index=False,index_names=False)
d=k.replace('  ',' ') #2 spaces
e=d.replace('   ',' ') #3 spaces
pyperclip.copy(e) #clipboard

KeyError: 'temp'

In [ ]:
#text box
pyautogui.click(849, 305)
time.sleep(1)

In [36]:
df5

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [4]:
time.sleep(4) 

pyautogui.position()

Point(x=849, y=305)