In [119]:
import pandas as pd
from datetime import date

In [120]:
Today = '2019-12-20'
path = 'C:/Users/jzhou/AAA/'

In [128]:
df_1 = pd.read_excel(path + 'logic.xlsx',sheet_name = 'data')

In [129]:
df_2 = pd.read_excel(path + 'logic2.xlsx',sheet_name = 'data')

In [130]:
df_3 = pd.read_excel('C:/Users/jzhou/AAA/logic3.xlsx',sheet_name = 'data')

In [131]:
df_4 = pd.read_excel(path + 'up.xlsx')

df['today']  = str(date.today())
df['today'] = pd.to_datetime(df['today'])

In [132]:
df_1 = df_1.sort_values('dates', ascending=False).reset_index()
df_2 = df_2.sort_values('dates', ascending=False).reset_index()
df_3 = df_3.sort_values('dates', ascending=False).reset_index()
df_4 = df_4.sort_values('dates', ascending=False).reset_index()
df_4.head(10)

   index      dates  price
0     49 2019-12-19   1.51
1     48 2019-12-18   1.60
2     47 2019-12-17   1.74
3     46 2019-12-16   1.68
4     45 2019-12-13   1.73
5     44 2019-12-12   1.71
6     43 2019-12-11   1.35
7     42 2019-12-10   1.27
8     41 2019-12-09   1.37
9     40 2019-12-06   1.26

In [133]:
df_1_d = df_1.diff()
df_2_d = df_2.diff()
df_3_d = df_3.diff()
df_4_d = df_4.diff()

df_1_d = df_1_d.rename(columns={"index": "index_dif", "dates": "date_dif", 'price' : 'price_dif','which_date' : 'which_date_dif'})
df_2_d = df_2_d.rename(columns={"index": "index_dif", "dates": "date_dif", 'price' : 'price_dif','which_date' : 'which_date_dif'})
df_3_d = df_3_d.rename(columns={"index": "index_dif", "dates": "date_dif", 'price' : 'price_dif','which_date' : 'which_date_dif'})
df_4_d = df_4_d.rename(columns={"index": "index_dif", "dates": "date_dif", 'price' : 'price_dif','which_date' : 'which_date_dif'})
df_4_d.head()

   index_dif date_dif  price_dif
0        NaN      NaT        NaN
1       -1.0  -1 days       0.09
2       -1.0  -1 days       0.14
3       -1.0  -1 days      -0.06
4       -1.0  -3 days       0.05

In [134]:
d1 = df_1.join(df_1_d, how='outer')
d2 = df_2.join(df_2_d, how='outer')
d3 = df_3.join(df_3_d, how='outer')
d4 = df_4.join(df_4_d, how='outer')

d1['price_ratio'] = (d1['price_dif'] / d1['price']).abs()
d2['price_ratio'] = (d2['price_dif'] / d2['price']).abs()
d3['price_ratio'] = (d3['price_dif'] / d3['price']).abs()
d4['price_ratio'] = (d4['price_dif'] / d4['price']).abs()

d4.head(16)

    index      dates  price  index_dif date_dif  price_dif  price_ratio
0      49 2019-12-19   1.51        NaN      NaT        NaN          NaN
1      48 2019-12-18   1.60       -1.0  -1 days       0.09     0.056250
2      47 2019-12-17   1.74       -1.0  -1 days       0.14     0.080460
3      46 2019-12-16   1.68       -1.0  -1 days      -0.06     0.035714
4      45 2019-12-13   1.73       -1.0  -3 days       0.05     0.028902
5      44 2019-12-12   1.71       -1.0  -1 days      -0.02     0.011696
6      43 2019-12-11   1.35       -1.0  -1 days      -0.36     0.266667
7      42 2019-12-10   1.27       -1.0  -1 days      -0.08     0.062992
8      41 2019-12-09   1.37       -1.0  -1 days       0.10     0.072993
9      40 2019-12-06   1.26       -1.0  -3 days      -0.11     0.087302
10     39 2019-12-05   1.15       -1.0  -1 days      -0.11     0.095652
11     38 2019-12-04   1.18       -1.0  -1 days       0.03     0.025424
12     37 2019-12-03   1.25       -1.0  -1 days       0.07     0.056000
13     36 2019-12-02   1.34       -1.0  -1 days       0.09     0.067164
14     35 2019-11-29   1.20       -1.0  -3 days      -0.14     0.116667
15     34 2019-11-27   1.13       -1.0  -2 days      -0.07     0.061947

In [135]:
my_dataframes = {'d1': d1, 'd2': d2,'d3': d3, 'd4': d4}

def check_1(df):
    return (((df.loc[7:14, 'price_dif'] < 0).sum() >= 5              #5 of 8 = 62%
             and (df.loc[0:7, 'price_ratio'] <= 0.06).sum() >= 4)      #5 of 8 balance
            or ((df.loc[9:19, 'price_dif'] < 0).sum() >= 6           #6 of 10 = 60%
             and (df.loc[0:9, 'price_ratio'] <= 0.06).sum() >= 5)  
            or ((df.loc[11:21, 'price_dif'] < 0).sum() >= 6          #7 of 12 
             and (df.loc[0:11, 'price_ratio'] <= 0.06).sum() >= 5)
            or ((df.loc[13:23, 'price_dif'] < 0).sum() >= 6          #8 of 14 = 
             and (df.loc[0:13, 'price_ratio'] <= 0.06).sum() >= 5)
            or ((df.loc[15:25, 'price_dif'] < 0).sum() >= 6          #9 of 16 
             and (df.loc[0:15, 'price_ratio'] <= 0.06).sum() >= 5)
            or ((df.loc[17:27, 'price_dif'] < 0).sum() >= 6          #11 of 18 
             and (df.loc[0:17, 'price_ratio'] <= 0.06).sum() >= 5)
            or ((df.loc[19:29, 'price_dif'] < 0).sum() >= 6          #12 of 20 
             and (df.loc[0:19, 'price_ratio'] <= 0.06).sum() >= 5)
            
            # imbalance
            or ((df.loc[19:29, 'price_dif'] < 0).sum() >= 6          #12 of 20 
             and (df.loc[0:7, 'price_ratio'] <= 0.06).sum() >= 5))

def check_2(df):
    return ((df.loc[1:4, 'price_ratio'] >1000).all())


CHECK_FUNCTIONS = (check_1,check_2)

def check(df):
    return any(check_f(df) for check_f in CHECK_FUNCTIONS)

In [136]:
good_dataframes = []
good_dataframes = [df_name for df_name, df in my_dataframes.items() if check(df)]
good_dataframes

['d4']