In [50]:
import pandas as pd
from datetime import date

In [51]:
df = pd.read_excel('C:/Users/jzhou/AAA/logic.xlsx',sheet_name = 'data')

In [52]:
df

        dates  price
0  2019-11-20   1.02
1  2019-11-21   1.05
2  2019-11-22   1.06
3  2019-11-25   1.07
4  2019-11-26   1.07
5  2019-11-27   1.13
6  2019-11-29   1.20
7  2019-12-02   1.93
8  2019-12-03   1.95
9  2019-12-04   1.97
10 2019-12-05   1.99
11 2019-12-06   0.00
12 2019-12-09   1.40
13 2019-12-10   1.42
14 2019-12-11   1.41
15 2019-12-12   1.43
16 2019-12-13   1.59
17 2019-12-16   1.56
18 2019-12-17   1.54
19 2019-12-18   1.52
20 2019-12-19   1.51

df['today']  = str(date.today())
df['today'] = pd.to_datetime(df['today'])

In [53]:
df = df.sort_values('dates', ascending=False).reset_index()
df

    index      dates  price
0      20 2019-12-19   1.51
1      19 2019-12-18   1.52
2      18 2019-12-17   1.54
3      17 2019-12-16   1.56
4      16 2019-12-13   1.59
5      15 2019-12-12   1.43
6      14 2019-12-11   1.41
7      13 2019-12-10   1.42
8      12 2019-12-09   1.40
9      11 2019-12-06   0.00
10     10 2019-12-05   1.99
11      9 2019-12-04   1.97
12      8 2019-12-03   1.95
13      7 2019-12-02   1.93
14      6 2019-11-29   1.20
15      5 2019-11-27   1.13
16      4 2019-11-26   1.07
17      3 2019-11-25   1.07
18      2 2019-11-22   1.06
19      1 2019-11-21   1.05
20      0 2019-11-20   1.02

In [54]:
di = df.diff()
di

    index   dates  price
0     NaN     NaT    NaN
1    -1.0 -1 days   0.01
2    -1.0 -1 days   0.02
3    -1.0 -1 days   0.02
4    -1.0 -3 days   0.03
5    -1.0 -1 days  -0.16
6    -1.0 -1 days  -0.02
7    -1.0 -1 days   0.01
8    -1.0 -1 days  -0.02
9    -1.0 -3 days  -1.40
10   -1.0 -1 days   1.99
11   -1.0 -1 days  -0.02
12   -1.0 -1 days  -0.02
13   -1.0 -1 days  -0.02
14   -1.0 -3 days  -0.73
15   -1.0 -2 days  -0.07
16   -1.0 -1 days  -0.06
17   -1.0 -1 days   0.00
18   -1.0 -3 days  -0.01
19   -1.0 -1 days  -0.01
20   -1.0 -1 days  -0.03

In [49]:
di['price'].iloc[1] # need index 1 to 4 is greater than 0

0.010000000000000009